
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* 
Header 
Grid teilt den header in zwei columns -> nebeneinander anordnen möglich
*/

header{
    background-color: #F2E7C3;
    width: 100%;
    padding: 10px 0;
    display: grid;
}
h1{
    text-align: left;
    margin-left: 20px;
    grid-column: 1 ;
}

nav{
    text-align: right; 
    display: inline;
    grid-column: 2 ;
    margin: auto 0;
}

li{
    list-style-type: none;
    display: inline;
    margin-right: 25px;
}
li a{
    text-decoration: none;
}
.Navigation a{
    color:black;
}
.Aktuell a{
    color:#716F18;
}




/* main*/
main{
    margin: 8px 20px;
}
h2{
    text-align: center;
    font-weight: lighter;
}
h3{
    color:#8C8A3A;
    text-align: center;
    margin-bottom: 0;
    grid-template-columns: auto;
    
}
#Linie{
    color:#8C8A3A;
    font-weight: lighter;
    text-align: center;
    margin-top: 0;
   
}
#button{
    text-align: right;
    margin-bottom: 20px;
}
button{
    background-color: #8C8A3A;
    color: white;
    margin: auto;
    border: 2px solid #8C8A3A;
    padding: 3px 10px;
    border-radius: 5px;
   
}
button:hover{
    
    background-color: white ;
    color: #8C8A3A;
    
    
}

#Zutaten{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content auto;
}
img{
    grid-row: 1 / 3;
    grid-column: 2;
    width: 500px;
}
h4{
    grid-row: 1;
    grid-column: 1;
}
#Zutat{
    grid-row: 2;
    grid-column: 1;

}
form{
    text-align: center;
}
input{
    width: 300px;
    height: 40px;
}
.Zutat{
    list-style-type: inherit;
}

#user{
    color:#8C8A3A;
    grid-row: 6;
}



/*Login*/

#divEinloggen{
    width: fit-content;
    margin: auto;
}
#einloggen{
    
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: large;
    
}
.Form{
    margin: 25px 0;
}
#Fehlermeldung{
    color: red;
    font-size: small;
    font-weight: lighter;
    text-align: center;
}

#Rezept #Nachricht{
    text-align: center;
}
/* Alle Rezepte*/

/* Meine Rezepte*/
#flexHinzufügen{
display: flex;
max-width: max-content;
margin: auto;
}
#hinzufügen{
    margin-left: 20px;
}
#buttonBearbeitung{
    text-align: center;
    margin-bottom: 20px;
}
#buttonBearbeitung button{
    margin: 0 30px;
}


/*Zentrieren*/

#Login{
    max-width: 800px;
    margin: auto;
}
@media  screen and (max-width: 1024px) { 
    #Zutaten{
        display: unset;
        max-width: 600px;
    }
    img{
        margin: auto;
    }

}

@media  screen and (max-width: 800px) { 
    
}
@media  screen and (max-width: 600px) { 
    
    
}