header{

    background-color: darkgreen;
    
    
}
body{
    background-color:beige;
    
}

a {
    color: wheat;
    text-decoration: none;
    font-size: 0,5em;
    
    
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    
    color: darkgreen;
    
    font-family: Arial, Helvetica, sans-serif;
    
}
p a{
 color: darkgreen;
 font-weight: bold;
}